/**************************
          * CSS3 *
 * Final Project: JS Game *
     * Space Invaders *
 **************************/
 html, body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 .fullGame {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 1%;
 }

.gameTittle {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

 .gameState {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 1%;
 }

 .canvas {
   justify-content: center;
   position: relative;
   display: grid;
   grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
   grid-template-rows: 40px 40px 40px 40px 40px;
   background-color: black;
   border: 3px solid limegreen;
   width: 500px;
   height: 700px;
   padding: 2%;
 }

 .canvas>div {
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   min-width: 25px;
   min-height: 35px;
   font-size: 1.5em;
   background-color: green;
   color: white;
   border: 1px solid white;
   /* border: 1px solid white; */
 }

 .gameControlers {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }

 .gameControlers>div {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   border: 2px solid limegreen;
   color: white;
   min-width: 100px;
   min-height: 50px;
   margin: 1%;
 }

 .restartButton {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2%;
 }
 
#player {
  position: absolute;
  top: 690px;
  left: 260px;
  color: green;
}
