/**************************
          * CSS3 *
 * Final Project: JS Game *
     * Space Invaders *
 **************************/
 html, body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 .fullGame {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 1%;
 }

.gameTittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .gameState {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 1%;
 }

 .canvas {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   background-color: black; /* In case background pic doesn't upload */
   background-image: url(images/galaxy-background.jpg);
   background-size: cover;
   border: 5px solid limegreen;
   width: 500px;
   height: 640px;
   padding: 15px;
   padding-top: 60px;
   text-align: center;
 }

 .canvas>div {
   font-size: 1.5em;
   border: 1px solid green; /* We'll remove this border once we finish the game. */
 }

.enemies {
  position: absolute;
  margin-right: 8.3%;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px;
}

#player {
  position: absolute;
  bottom: 20px;
  /* text-align: center; */
  color: green;
}

.bullet {
  background-color: lime;
  position: absolute;
  top: 650px;
  height: 7px;
  width: 2px;
}

.gameControlers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gameControlers>div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid limegreen;
  color: white;
  min-width: 100px;
  min-height: 50px;
  margin: 1%;
}

.restartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
